body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flight-detail-entry {
      display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
  height: 150px;
  width: 200px;
}

#sign-up-img{
  margin-left: 50px;
}

.navbar{
  padding: 0px;
  height: 70px;
}

.fc-media-screen{
  margin-top: 50px;
    height: 420px;
}

.sub-main{
  /* background-image: url(logo_transparent.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-image: url(flight-landing.jpg);
  background-repeat: no-repeat;
  height: 100%;
  /* background-position: center; */
  background-size: cover;
 
} 
button {
  margin: 20px;
}

h3 {
  /* color: red; */
  cursor: pointer;
}

.login-signup-buttons {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

h1{
  color: wheat;
}

.signup-form-container{  
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.signup-form{
  
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-form-container{  
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.login-form{
  /* background: rgba(0, 128, 0, 0.3); */
  /* border: 1px solid gray; */
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 .title-entry-tab{
   margin-left: 80px;
 }

 .flight-entry-tab{
   margin-left: 5px;
 }


label {
  /* background-color: wheat; */
  font-weight: 700;
}

.trip-btn:hover {
  transition: ease-out;
  transform: scale(1.5);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
    justify-content: space-evenly
}

.trip-item {
  background-color: rgba(51,51,51,0.6);
    width: 800px;
    height: 350px;
    padding-bottom: 5px;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    
    -webkit-font-smoothing: subpixel-antialiased;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: rgba(249,249,249,0.1);
  
    border-image: initial;
    object-fit: cover;
    
    backface-visibility: hidden;
    margin-bottom: 50px;
}

.hidden {
  display: flex;
}

.trip-item ul {
  margin: 5px;
}

.calender-box {
  display: block; 
  height: 100px;
  width:100px;
  background-color: bisque;
}


.fc-daygrid-day-frame:hover {
background-color: rgba(255, 255, 255, 0.555);
}

.profile-outer {
  display:block;

  max-height:1000px ;
  max-width:1000px ;
}

.profile-calender{
  display:block; 
  height:200px;
  width:20px;

}
.profile-details {
  display:block;
  height:500px; 
  width:300px;
}