body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-image: url(flight.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1{
  color: wheat;
}

.signup-form-container{  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.signup-form{
  /* background: rgba(0, 128, 0, 0.3); */
  /* border: 1px solid gray; */
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}